body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* #27374D
#526D82
#9DB2BF
#DDE6ED */

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #27374d;
  color: #dde6ed;
}

header {
  background-color: #dde6ed;
  color: #27374d;
  padding: 20px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

#nav-1 {
  margin-top: 0;
  padding-bottom: 100px;
}

#nav-2 {
  margin-top: 35px;
}

#nav-3 {
  background-color: #000000;
  border-radius: 4px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  width: 80px;
}

button {
  text-decoration: none;
  text-align: center;
  background-color: #9db2bf;
  color: black;
  font-family: Arial, sans-serif;
  border-radius: 6px;
  transition-duration: 0.4s;
  border: 2px solid #000000;
  
}

/* button-link */
#link{
  text-decoration: none;
}

.button:hover {
  background-color: #668395; 
  color: rgb(0, 0, 0);
}
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  
}

nav ul li a {
  color: #27374d;
  text-decoration: none;
  
}

section {
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 80px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project {
  margin-bottom: 20px;
  margin-top: 20px;
  font-style: italic;
  text-decoration: none;
}

footer {
  background-color: #dde6ed;
  color: #27374d;
  padding: 10px;
  text-align: center;
}
nav {
  display: flex;
  padding-top: 0px;
}

#contact {
  border: 2px solid #9db2bf;
  padding: 50px;
}

